.dropdown {
    background-color: rgb(51, 51, 51);
    height: 50px;
    width: 50%;
    color: white;
    font-variant: small-caps;
    font-size: 20px;
    border: 1%;
    border-color: white;
}

.select {
    font-variant: small-caps;
}

.text-acheter {
    font-size: 16px;
    margin-bottom: 2%;
}

.space-acheter {
    padding-top: 2%;
}

#input-acheter {
    background-color: rgb(51, 51, 51);
    height: 50px;
    width: 50%;
    color: white;
    font-size: 20px;
    border: 1%;
    border-color: white;
}

#btn-paypal {
    background-color: black;
}